<!DOCTYPE html>
<html>

<head>
	<title>
		Form confirm to delete film
	</title>
	<link rel="stylesheet" href="/css/stile2.css" />
</head>

<body>
	<div class="flexbox-container-vertical">
        
        <div class="header">
			<img src="/images/logo-siw.png" width="70%"/>
			<div class="text" th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${#request.userPrincipal}">
				<a href="/login">Login</a>
			</div>
		</div>
		<div class="section">
				<div class="flexbox-container-horizontal-sa">
					
					<div class="flexbox-item-solo">
						<div class="scrollable-content">
							<h1>Sicuro di voler cancellare:</h1>
							<h3 th:text="${artist.name} +' '+ ${artist.surname} + ' (' + ${artist.dateOfBirth} + ')'"></h3>
					        <div class="flex-item-2"><img th:src="@{'data:image;base64,' + ${artist.imageString}}" width="20%"></div>
					        <div class="flexbox-container-horizontal-sa">
								<form th:action="@{'/admin/deleteArtist/' + ${artist.id}}" method="GET" >
									 <div>
										<span><button class="button-red" type="submit">elimina artista</button></span>
									</div>
								</form>
								<form th:action="@{'/admin/manageArtist/'}" method="GET" >
									 <div>
										<span><button class="button-green" type="submit">annulla</button></span>
									</div>
								</form>
					        </div>
						</div>
					</div>
						
					
				</div>
	        </div>
	        <div class="imghome">
				<a href="/"><img src="/images/home.png" width="20%"/></a>
			</div>
	        <div class="footer"></div>
		</div>
	</div>
	
</body>

</html>