<!DOCTYPE html>
<html>
	<head>
		<title>Artisti</title>
		<link rel="stylesheet" href="/css/stile2.css" />
	</head>
<body>
	<div class="flexbox-container-vertical">
        
        <div class="header">
			<img src="/images/logo-siw.png" width="70%"/>
			<div class="text" th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${#request.userPrincipal}">
				<a href="/login">Login</a>
			</div>
		</div>
	
		<div class="section">
			<div class="flexbox-container-horizontal-sa">
				
				<div class="flexbox-item-solo">
					<div class="scrollable-content">
						<h1>Film</h1>
						
						<div th:if="${artists.isEmpty() || artists==Null}">Non ci sono artisti nel sistema</div>
						<li th:each="artist : ${artists}">
							<strong th:href="@{'/artists' + '/' + ${artist.id}}"
							th:text="${artist.name} +' '+ ${artist.surname}">nome e cognome</strong>
							<div>
								<a th:href="@{'/admin/formUpdateArtist'+'/'+${artist.id}}"> modifica dati</a>
							</div>
						</li>
					</div>
				</div>
				<div class="flex-item-1">
					<h1>Inserisci artista</h1>
					<a href="/admin/formNewArtist"><img src="/images/add-artist.png" width="30%"></a>
				</div>
				
			</div>
        </div>
        <div class="imghome">
			<a href="/"><img src="/images/home.png" width="20%"/></a>
		</div>
        <div class="footer"></div>
	</div>

</body>
</html>