<!DOCTYPE html>

<html>
  <head>
    <title>Artista</title>
	<link rel="stylesheet" href="/css/stile1.css" />
</head>

<body>
      <div class="flexbox-container-vertical">
        
        <div class="header">
			<img src="/images/logo-siw.png" width="70%"/>
			<div class="text" th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${#request.userPrincipal}">
				<a href="/login">Login</a>
			</div>
		</div>
		
		<div class="nav">
			<a href="/"><img src="/images/home.png" width="4%" />Home</a>
		    <a href="/generic/artists"><img src="/images/actor.png" width="4%" />Elenco artisti</a>
		</div>
		
        <div class="section">
			<div class="flexbox-container-horizontal">
				
				<div class="flex-item-1">
					 <img th:src="@{'data:image;base64,' + ${artist.imageString}}">
				</div>
				
				<div class="flex-item-2">
					<div  class="flexbox-item-scroll">
						<div>
							<h1 th:text="${artist.name} +' '+ ${artist.surname}">nome e cognome</h1>
							<span th:text="${artist.dateOfBirth}"></span>
						</div>
						<div>
							<strong>Film diretti:</strong>
							<div th:if="${artist.getDirectorOf()}">
								<ul>
									<li th:each="movie : ${artist.getDirectorOf()}">
										<span th:text="${movie.title}"></span>
									</li>
								</ul>
							</div>
							<div th:unless="${artist.getDirectorOf()}">
								<span>Nessun film diretto</span>
							</div>
							
							<div>
								<strong>Film in cui ha interpretato un ruolo:</strong>
								<ul>
									<li th:each="movie : ${artist.getActorOf()}">
										<span th:text="${movie.title}"></span>
									</li>
								</ul>
							</div>
						</div>				    
						 
					</div>		
				</div>
				
			</div>
        </div>
        <div class="footer"></div>
      </div>
</body>
</html>