<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Login
	</title>
	<link rel="stylesheet" href="/css/stile.css" />

	</head>
<body>
	<div class="flexbox-container-vertical">
        
        <div class="header">
			<img src="/images/logo-siw.png" width="70%"/>
		</div>
      
      <div class="flexbox-container">
		<div class="flexbox-item-solo">
			<div class="scrollable-content">
				<h1>Login</h1>
					<form th:action="@{/login}" method="POST">
						<div>
							<label>Username:</label>
							<span><input name="username" type="text" required /></span>
						</div>
						<div>
							<label>Password:</label>
							<span><input name="password" type="password" required /></span>
						</div>
						<div>
							<span th:if="${param.error != null}">Username o password errati</span>
						</div>
						<div>
							<span><button type="submit">Login</button></span>
						</div>
					</form>
				
					<div>
						<span>Non hai un account? </span>
						<a th:href="@{/register}" th:text="Registrati">Registrati</a>
					</div>
			</div>
		</div>
		
	</div>
	<div class="imghome">
		<a href="/"><img src="/images/home.png" width="20%"/></a>
	</div>
        
        <div class="footer"></div>
	</div>

</body>

</html>